.app-layout {
    display: flex;
    .layout-navs {
        font-family: 'Open Sans', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
        font-weight: 600;
        background-color: #0c5776;
        min-height: 100vh;
		min-width: 110px;
    	max-width: 110px;
		// display: flex;
		// flex-flow: column;
        .leftNavs-logo {
            height: 70px;
			display: flex;
   			align-items: center;
    		justify-content: center;
        }
        .leftNavsItem {
            border-radius: 8px;
            padding: 8px;
            .link-item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                color: rgb(169, 198, 199);
                text-decoration: none;
				border-radius: 8px;
				padding: 8px;
                .nav-item-title {
                    font-size: 14px;
                    padding: 8px 4px 0;
                    text-align: center;
                    margin: 0;
                }
            }
        }
    }
    .layout-right {
		width: 100%;
        .layout-header {
            background: white url(../../assets/images/background_header.png) right no-repeat;
            color: #646e87;
            height: 70px;
            width: 100%;
			display: flex;
			align-items: center;
			border-bottom: 0.5px solid;
    		border-bottom-color: #d5d5d5;

			.header-breadcrumbs{
				padding-left: 24px;
				&-detail{
					font-weight: bold;
					color: #27313c;
					// font-size: 30px;
				}
			}
            .header-login {
                display: flex;
                position: absolute;
                right: 24px;
                align-items: center;
                padding: 8px;
                .header-profile {
                    font-family: 'Open Sans', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
                    margin-left: 16px;
                    background-color: #a19eae29;
                    border: 1px solid transparent;
                    border-radius: 20px;
                    box-sizing: border-box;
                    color: #5d6778;
                    cursor: pointer;
                    display: flex;
                    height: 40px;
                    max-width: 200px;
                    min-width: 150px;
                    outline: transparent;
                    padding: 4px;
                    text-decoration: none;
                    user-select: none;
                    .MuiAvatar-root {
                        width: 30px;
                        height: 30px;
                    }
                    .header-profile-information {
						align-items: center;
    					justify-content: center;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        padding: 0 4px 0 8px;
                        width: 100%;
                        .profile-name {
                            font-size: 14px;
                            color: #27313c;
                        }
                        .profile-class-name {
                            font-size: 12px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
		.layout-content{
			height: calc(100% - 70px);
			padding: 20px;
		}
    }
}
a.active.link-item{
	background: rgba(16, 20, 25, 0.64);
    color: white !important;
}

.profile-info, .logout{
	font-family: 'Open Sans', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	font-size: 14px;
    color: #27313c;
	&-username{
		font-weight: bold;
	}
}
