.login-container {
    display: flex;
    .css-azc51k-MuiPaper-root {
        width: 70%;
        height: 70%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
		border-radius: 20px;
        .css-xdmu94-MuiContainer-root {
            padding: 40px;
			.css-13i4rnv-MuiGrid-root {
				.css-999g2f-MuiFormControl-root {
					width: 100%;
				}
			}
        }
        .css-bhp9pd-MuiPaper-root-MuiCard-root {
            width: 70%;
            height: 100%;
			border-radius: 20px;
            img {
                height: 100%;
            }
        }
    }
    .css-xdmu94-MuiContainer-root {
        margin: 0;
		.css-8je8zh-MuiTouchRipple-root{
			padding: 20px;
		}
    }
}
.css-ijul54-MuiTypography-root{
	margin: 0;
}
