.body-page-right {
    padding: 24px 32px;
    position: relative;
	.MuiPaper-root {
		box-shadow: var(--shadow-size-l) var(--shadow-color);
	}
    // .body-page-table {
	// 	padding: 16px 0;
    // }
}
