.a-calendar{
	display: flex;
	flex-flow: row;
	gap: 32px;
	justify-content: space-between;

	&-detail{
		width: 70%;
		display: flex;
		flex-flow: column;
		gap: 16px;

		&-date{
			font-weight: 600;
			font-size: large;
		}
	}
}
