.Home-Page-Container{
  background-image: url('/src/assets/images/background-homepage.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  .Banner-Login{
    display: flex;
    flex-wrap: wrap;
    .Banner-Login_Title{
      color: #F8F8F8;
      font-weight: bold;
      line-height: 1.2;
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 20px;
      font-size: 45px;
    }
  }
}