.a-common-tabs{
	.MuiTabs-root .MuiButtonBase-root{
		font-family: "Open Sans", "Segoe UI", Segoe, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
		color: #27313c;
		text-transform: none;
	}

	.MuiTabs-indicator{
		background-color: #0c5776;
	}
}
