.main-page-left {
    width: 80px;
    background-color: #31334b;
    min-height: 100vh;
    .MuiList-root {
        .MuiListItem-root {
            padding: 8px 8px 0;
            .MuiButtonBase-root {
                height: 68px;
                display: flex;
                flex-direction: column;
                color: var(--color-icon);
                padding: 8px;
				border-radius: 8px;


                .MuiListItemIcon-root {
                    min-width: 0px;
                    .MuiSvgIcon-root {
                        color: var(--color-icon);
                    }
                }
                .MuiListItemText-root {
                    font-size: 12px;
                    padding: 8px 4px 0;
                    text-align: center;
                    // width: 100%;
                    margin: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .MuiTypography-root {
                        font-family: 'Open Sans', 'Segoe UI', Segoe, 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
                        font-size: 12px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
