.home-container {
    background: url('../../assets/images/back_ground_login.jpg') no-repeat center/cover;
    height: 100vh;
    position: relative;
    .home-container-header {
        display: flex;
        position: absolute;
        top: 60px;
        right: 100px;
        font-size: 20px;
        gap: 50px;
        .home-container-header-button {
            cursor: pointer;
        }
        .home-container-header-button:hover {
            border: 1px solid transparent;
			opacity: 0.8;
        }
    }
    .home-container-content {
        position: absolute;
        top: 50%;
        right: 100px;
        transform: translateY(-50%);
        width: 40%;
    }
}
